/* .container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .input-group {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .input-group input[type='text']{
    display: flex;
    align-items: left;
    width: 35%;
    max-width: 400px;
    border-radius: 8px;
  }
  
  button {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    margin-right: 10px;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .button-reset {
    background-color: #6c757d;
  }
  
  .button-reset:hover {
    background-color: #5a6268;
  }
  
  .table-container {
    margin-top: 20px;
  } */


  /* .page-wrapper {
    background-color: var(--background-color);
    min-height: 100vh;
    overflow: hidden;
  }
  
  .content-wrapper {
    background-color: var(--background-color);
    min-height: 100vh; 
    padding: 50px 58px;
    margin-left: 260px;
  
    @media (max-width: 1400px) {
      padding: 32px;
    }
  
    @media (max-width: 1200px) {
      margin-left: 56px;
    }
  
    @media (max-width: 768px) {
      margin-left: 0;
      padding: 24px;
    }
  
    @media (max-width: 576px) {
      margin-left: 0;
      padding: 16px;
    }
  } */

  .page-wrapper {
    background-color: var(--background-color);
    min-height: 100vh;
    overflow: hidden;
  }
  
  .content-wrapper {
    background-color: var(--background-color);
    min-height: 100vh;
    padding: 50px 58px;
    margin-left: 260px;
  
    @media (max-width: 1400px) {
      padding: 32px;
    }
  
    @media (max-width: 1200px) {
      margin-left: 56px;
    }
  
    @media (max-width: 768px) {
      margin-left: 0;
      padding: 24px;
    }
  
    @media (max-width: 576px) {
      margin-left: 0;
      padding: 16px;
    }
  }