.table {
  min-width: 900px;
  width: 100%;
  border-collapse: collapse;
  color: var(--text-color-inverted);

  td,
  th {
    border: none;
    padding: 14px 12px;
    @media (max-width: 768px) {
      font-size: 15px;
      padding: 12px 10px;
    }
  }

  thead {
    text-align: left;
    font-size: 17px;

    th{
      background-color: var(--thead-bg-color);
    }

    .center-align {
      text-align: center;
    }
  }

  tbody {
    td {
      color: var(--lg-text-color);
      background-color: var(--secondary-color);
    }
  }

  .dt-cell-action-table {
    text-align: center !important;

    .action-dropdown-btn-table {
      color: var(--text-color-inverted);
      position: relative;
    }

    .action-dropdown-menu-table ul {
      list-style: none;
      padding: 0;
      margin: 0;
  }
  
    .action-dropdown-menu-table {
      position: absolute;
      top: 100%;
      right: 50%;
      transform: translateX(50%);
      height: auto;
      min-width: 80px;
      box-shadow: rgba(100, 100, 111, 0.1) 0px 1px 4px 0px;
      background-color: var(--secondary-color);
      padding: 6px 10px;
      z-index: 1;
      border-radius: 8px;
      border: 1px solid var(--border-color-inverted);
      text-align: left;
    }
  
    .dropdown-menu-item-table {
      margin: 8px 0;
    }
  
    .dropdown-menu-link-table {
      color: var(--text-color-inverted);
      font-weight: 600;
      transition: var(--default-transition);
  
      &:hover {
        opacity: 0.9;
      }
    }
  }

}