.register-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
    flex-grow: 1;
}

.input-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.input-group {
    width: 48%; /* Adjust as needed */
    display: flex;
    flex-direction: column;
}

.input-group input {
    border-radius: 5px !important;
}

.register-container label {
    width: 100%;
    text-transform: uppercase;
    font-weight: 900;
    color: var(--logo-color);
    margin-bottom: 8px;
}

.register-container input[type="text"],
.register-container input[type="email"],
.register-container input[type="password"],
.register-container input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.register-container .registerbtn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: var(--primary-color);
    color: white;
    cursor: pointer;
    transition: var(--default-transition);
}

.register-container .registerbtn:hover {
    background-color: var(--side-link-hover-color);
    color: var(--side-text-color);
}
