.content-area-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
    flex-wrap: wrap;
  
    .area-top-title {
      color: var(--text-color-inverted);
    }

    .area-top-path {
      display: flex;
      align-items: center;
      gap: 6px;
    }
  
    .area-top-l {
      display: flex;
      flex-direction: column;
      align-items: start;
      column-gap: 6px;
    }

    .title-and-button {
      display: flex;
      align-items: center;
      gap: 6px;
    }
  
    .page-path-icon {
      font-size: 16px;
    }
    
    .page-path-text {
      color: var(--text-color-inverted);
      font-size: 16px; 
    }

    .sidebar-open-btn {
      display: inline-flex;
      align-items: center;
      display: none;
      margin-bottom: -1px;
      color: var(--text-color-inverted);
  
      @media (max-width: 768px) {
        display: inline-flex;
      }
    }
  }