.page-wrapper {
    background-color: var(--background-color);
    min-height: 100vh;
    overflow: hidden;
  }
  
  .content-wrapper {
    background-color: var(--background-color);
    min-height: 100vh;
    padding: 50px 58px;
    margin-left: 260px;
  
    @media (max-width: 1400px) {
      padding: 32px;
    }
  
    @media (max-width: 1200px) {
      margin-left: 56px;
    }
  
    @media (max-width: 768px) {
      margin-left: 0;
      padding: 24px;
    }
  
    @media (max-width: 576px) {
      margin-left: 0;
      padding: 16px;
    }
  }